<button type="button" class="btn btn-default" (click)="modal.open()"><span class="glyphicon glyphicon-plus"></span>Add Request</button>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Request</h4>
    </modal-header>
    <modal-body>
        <form novalidate >
          <div class="form-group">
            <label for="name">Requester</label>
            <input type="text" class="form-control" required name="name" [(ngModel)]="newRequest.requester" disabled>
          </div>
          <div class="form-group">
            <label for="repos">Repos</label>
            <div class="form-inline alert section-group " *ngFor="let repo of newRequest.repos">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="repo.name">
              <label>Branch</label>
              <input type="text" class="form-control" [(ngModel)]="repo.branch">
              <button class="btn btn-sm btn-danger" (click)="deleteRepo(repo)"><span class="glyphicon glyphicon-minus"></span></button>
            </div>
            <button class="btn btn-success" (click)="addRepo()">Add</button>
          </div>  
          <div class="form-group ">
            <label for="verify">Verify Steps</label>
            <input type="text" class="form-control" name="verify" [(ngModel)]="newRequest.verifyDetails">
          </div>
          <div class="form-group">
            <label for="urgent">
              <input type="checkbox" [(ngModel)]="newRequest.isUrgent"> Urgent
            </label>
          </div>
        </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
    </modal-footer>
</modal>  

